@CHARSET "ISO-8859-1";

.nav{
	text-align:center;
}
body{
	margin-left:auto;
	margin-right:auto;
	width:900px;
}

.banner{/*the main logo goes here*/
	background-position:center;
	margin-left:auto;
	margin-right:auto;
}
.mainsect{
	background-color:#FFFFFF;
	display:block;
	margin:0px 0px 0px 70px;
	vertial-align:top;
	height:auto !important;
}

#dogs{
	background-color:#EA9B47;
}

#cats{
	background-color:#96CEC7;
}
#know{
	background-color:#EA9B47;
}

#contact{
	background-color:#939597;
}

#testing{
  opacity: 1.0;              /* CSS3 */
  -moz-opacity: 1.0;         /* Older versions of Firefox */
  -khtml-opacity: 1.0;       /* Older versions of Safari */
  filter: alpha(opacity=100); /* Internet Explorer */
}

.accordionItem h2{ 
	margin: 10px; 
	font-size: 1.1em; 
	padding: 0.4em; 
	color: #000; 
	background:rgba(255,255,255,0.5);
	border-bottom: 1px solid #66d; 
}
.accordionItem h2:hover{ 
	cursor: pointer; 
}
.accordionItem div{ 
	margin: 10px; 
	padding: 1em 0.4em; 
	/*background-color: #A69885;*/
	background:rgba(255,255,255,0.5);
	border-bottom: 1px solid #66d; 
}
.accordionItem.hide h2{ 
	color: #000; 
	background:rgba(255,255,255,0.5); 
}
.accordionItem.hide div{ 
	display: none;
}
.first{
	text-indent:1em;
}