@CHARSET "ISO-8859-1";

.nav{
	text-align:center;
}
body{
	margin-left:auto;
	margin-right:auto;
}

.banner{/*the main logo goes here*/
	background-color:#1a1a1a;
	height:400px;
	width:400px;
	margin-left:auto;
	margin-right:auto;
}
.mainsect{
	background-color:#FFFFFF;
}

#dogs{
	background-color:#FFFF00;
}
#cats{
	background-color:#800080;
}